footer {
    padding: $d_margin_big;
    background: $c_black;
    color: $c_white;

    .footer__logo {
        @extend h1;
        color: $c_white;
        float: left;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .footer__menu { 
        float: right;
        text-align: right;
        margin: 14px 0 0 0;

        li {
            display: inline-block;
            color: $c_white;
            margin: 0 0 0 $d_margin_small;
            line-height: $t_size_h1;

            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid $c_white;
                }
            }
        }
    }
}
