// Sass Variables

// Typography
$t_family_base: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$t_family_alt: 'Montserrat', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

$t_size_h1: 28px;
$t_size_h2: 24px;
$t_size_h3: 18px;
$t_size_base: 18px;
$t_size_small: 12px;

$t_weight_base: 400;
$t_weight_semibold: 600;
$t_weight_bold: 700;

$t_line-height_base: 1.8;

// Colors
$c_red: #E94B51;
$c_black: #0E1C29;
$c_white: #FFFFFF;
$c_grey: #F3F4F5;

// Dimensions
$d_container: 1140px;
$d_margin_big: 60px;
$d_margin_small: 30px;

$d_button_height: 60px;
$d_input_height: 60px;

$d_radius_base: 3px;

$d_box_padding: 10px;
