<div class="event">
    <!-- start header -->
    <header>
        <div class="container">
            <!-- start topbar -->
            <div class="header__logo">
                <h1>
                    <a href="/">Tikee</a>
                </h1>
            </div>
            <div class="header__menu">
                <nav>
                	<ul>
                		<li class="mobile_show">
                			<a href="#">Toon menu</a>
                		</li>
                		<li>
                			<a href="/#/events">Events</a>
                		</li>
                		<li>
                			<a href="/#/about">Over Tikee</a>
                		</li>

                		<li class="logged_in">
                			<a href="/#/account/tickets">Mijn Tickets</a>
                		</li>
                		<li class="logged_in">
                			<a href="/#/account/events">Mijn Events</a>
                		</li>
                		<li class="logged_in">
                			<a href="/#/logout" ng-click="logout()">Logout</a>
                		</li>

                		<li class="not_logged_in">
                			<a href="/#/login" ng-click="login()">Login</a>
                		</li>
                		<li class="not_logged_in">
                			<a href="/#/register" ng-click="register()">Register</a>
                		</li>
                	</ul>
                </nav>
            </div>
            <!-- end topbar -->

            <!-- start header content -->
            <div class="header__content">
                <h1 class="header__intro">
                    Goedemiddag {{ first_name }}, dit is jouw account
                </h1>
                <h3 class="header__subtitle">
                    Hier vind je al jouw tickets, events en instellingen
                </h3>
            </div>
            <!-- end header content -->
        </div>
    </header>
    <!-- end header -->

    <!-- start black -->
    <div id="black">
        <div id="login" class="blacks">
            <div class="buy__header">
                <h1>Login</h1>
                <h2 ng-click="hide_black()">X</h2>
                <p></p>
            </div>
            <div class="buy__form">
                <input type="text" name="login_username" placeholder="Username">
                <input type="password" name="login_password" placeholder="Password">
                <input type="submit" value="Login" ng-click="login_user()">
            </div>
        </div>
        <div id="register" class="blacks">
            <div class="buy__header">
                <h1>Register</h1>
                <h2 ng-click="hide_black()">X</h2>
                <p></p>
            </div>
            <div class="buy__form">
                <input type="text" name="register_username" placeholder="Username">
                <input type="text" name="register_email" placeholder="E-mail">
                <input type="text" name="register_first_name" placeholder="First name">
                <input type="text" name="register_last_name" placeholder="Last name">
                <input type="password" name="register_password" placeholder="Password">
                <input type="password" name="register_confirm_password" placeholder="Password confirm">
                <input type="submit" value="Register" ng-click="register_user()">
            </div>
        </div>
    </div>
    <!-- end black -->

    <!-- start account -->
    <main>
        <div class="main__account">
            <div class="account">
                <div class="account__user account_part">
                    <h2>{{ first_name }} {{ last_name }}</h2>
                    <h3>Je hebt {{ coming_events }} komende events</h3>
                </div>
                <div class="hover account__tickets account_part">
                    <a href="/#/account/tickets">
                        <p>Bekijk mijn tickets</p>
                        <h4>{{ user_tickets }}</h4>
                    </a>
                </div>
                <div class="hover events account_part active">
                    <a href="/#/account/events">
                        <p>Bekijk mijn events</p>
                        <h4>{{ user_events }}</h4>
                    </a>
                </div>
                <div class="hover make account_part">
                    <a href="/#/account/make">
                        <p>Maak een event</p>
                        <h4>+</h4>
                    </a>
                </div>
                <div class="hover settings account_part">
                    <a href="/#/account">
                        <p>Jouw account</p>
                    </a>
                </div>
            </div>
            <div class="container_events">
                <article class="event" ng-repeat="event in mijn_events">
                    <a href="/#/events/{{ event.id }}">
                        <div class="event__photo" style="background-image: url('http://www.tikee.be:3000/{{ event.image }}')"></div>
                        <div class="event__detail">
                            <h2>{{ event.name }}</h2>
                            <p class="event__date">{{ event.datetime }} om {{ event.time }}</p>
                        </div>
                    </a>
                </article>
            </div>
        </div>
    </main>
    <!-- end event -->

    <!-- start newsletter -->
    <section class="newsletter">
        <div class="container">
            <div class="content">
                <p>
                    Wil je graag op de hoogte blijven van <strong>wijze feestjes en coole events</strong>? Abonneer je dan
                    snel op onze nieuwsbrief en ontvang wekelijks <strong>de beste events bij jou in de buurt</strong>!
                </p>
                <div class="newsletter__form">
                    <form action="//shaunjanssens.us1.list-manage.com/subscribe/post?u=7b962871708a8e6f019a19e40&amp;id=96c1ce306e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <input type="text" name="EMAIL" value="" placeholder="Gewoon je e-mailadres, meer is niet nodig" id="mce-EMAIL">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" value="abonneren">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end newsletter -->

    <!-- start footer -->
    <footer>
        <div class="container">
            <!-- start footerbar -->
            <div class="footer__logo">
                <p>
                    <a href="/">Tikee</a>
                </p>
            </div>
            <div class="footer__menu">
                <nav>
                    <ul>
                        <li>
                            <a href="/#/about">Over Tikee</a>
                        </li>
                        <li class="footer__menu--social">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="footer__menu--social">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- end footerbar -->
        </div>
    </footer>
    <!-- end footer -->
</div>
