#black,
#black_login,
#black_register {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    display: none;

    #buy, #thanks, #login, #register {
        width: 50%;
        margin: 80px 25%;
        background: $c_white;
        overflow: auto;
        border-radius: 5px;
        z-index: 1000;

        .thanks__header,
        .buy__header {
            overflow: auto;
        }

        .thanks__text p {
            padding: 20px;
        }

        .thanks__text input {
            width: 80%;
            margin: 20px 10%;
        }

        .buy__header h1,
        .thanks__header h1 {
            float: left;
            padding: 20px 40px 20px 20px;
        }

        .buy__header p,
        .thanks__header p,
        .buy__header h2,
        .thanks__header h2 {
            float: right;
            padding: 25px 20px 20px;
        }

        .buy__header h2,
        .thanks__header h2 {
            cursor: pointer;
        }

        .buy__form {
            input {
                width: 46%;
                margin: 2%;
                float: left;
            }

            input[type=text],
            input[type=number] {
                background: $c_grey;
                color: $c_black;
            }

            input[type=number] {
                padding-left: 10px;
            }
        }

        @include media($tablet) {
            width: 100%;
            height: 100vh;
            margin: 0;
            border-radius: 0;

            .buy__header p,
            .thanks__header p {
                float: none;
                clear: both;
            }

            .buy__form {
                input {
                    width: 92%;
                    margin: 10px 4%;
                    float: none;
                }
            }
        }
    }
}

.events {
    header {
        .header__content {
            .header__search {
                input {
                    text-align: center;
                }

                #input_category {
                    @include span-columns(3);
                }

                #input_place {
                    @include span-columns(3);
                }

                #input_keywords {
                    @include span-columns(4);
                }

                input[type=submit] {
                    @include span-columns(2);
                }
            }
        }
    }

    .cta__more {
        padding: $d_margin_small 0 0 0;
    }
}

.event {
    header {
        .header__content {
            .header__eventinfo {
                @include span-columns(8);
                text-align: center;
                width: 100%;

                h1 {
                    margin: 0 0 $d_margin_small 0;
                }

                p {
                    color: rgba($c_white, .5);

                    span {
                        margin: 0 $d_margin_small 0 0;
                    }
                }
            }

            .header__eventsignup {
                @include span-columns(4);
                text-align: right;
            }
        }
    }

    article {
        .event__main {
            @include span-columns(8);

            @include media($tablet) {
                clear: both;
                width: 100%;
                margin-bottom: 20px;
            }
        }

        h2 {
            margin-bottom: $d_margin_small;
        }

        .event__people {
            width: 47%;
            margin-right: 20px;
            margin-bottom: 20px;
            float: left;
            background: $c_grey;

            .people__avatar {
                width: 70px;
                height: 70px;
                background-size: cover;
                float: left;
            }

            h3 {
                max-width: 200px;
                padding-left: 20px;
                padding-top: 13px;
                float: left;
            }
        }

        .event__people:nth-child(odd) {
            margin-right: 0;
        }

        .event__sidebar {
            @include span-columns(4);
            @include omega();

            background: $c_grey;
            padding: $d_margin_small;
            border-radius: $d_radius_base;

            p {
                margin: 0 0 $d_margin_small 0;
            }

            .event__map {
                iframe {
                    max-width: 100%;
                }
            }

            @include media($tablet) {
                clear: both;
                width: 100%;
            }
        }
    }

    .search {
        background: $c_grey;

        input[type=text] {
            @include span-columns(6);
            @include shift(2);
        }
        input[type=submit] {
            @include span-columns(2);
        }
    }


}
