.homepage {
    header {
        height: 100vh;

        .header__content {
            margin: 30vh 0 0 0;

            .header__intro {
                font-size: 36px;
                margin: 0 0 $d_margin_small 0;
            }

            .header__search {
                padding-top: 30px;

                input[type=text] {
                    @include span-columns(6);
                    @include shift(2);
                }
                input[type=submit] {
                    @include span-columns(2);
                }
            }

            @include media($tablet) {
                margin: 10vh 0 0 0;

                .header__intro {
                    font-size: $t_size_h1;
                    margin-bottom: $d_margin_small;
                }

                .header__search {
                    input[type=text] {
                        @include span-columns(8);
                        @include shift(2);
                        margin-bottom: 20px;
                    }
                    input[type=submit] {
                        @include span-columns(8);
                        @include shift(2);
                    }
                }
            }
        }
    }

    .events {
        background: $c_grey;

        article {
            background: $c_white;
            margin-bottom: 0;

            @include media($tablet) {
                margin-bottom: 20px;
            }
        }

        .cta__more {
            padding: $d_margin_big 0 0 0;

            @include media($tablet) {
                padding: $d_margin_small 0 0 0;
            }
        }
    }
}
