/**
 * https://docs.angularjs.org/api/ngAnimate
 * Inspiration: http://tympanus.net/Development/PageTransitions/
 */
/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1, section .section__title, main .section__title, footer .footer__logo {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font: inherit; }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
button,
input,
select {
  /* 2 */
  overflow: visible; }

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  /* 1 */
  margin: 0; }

/**
 * Remove the inheritence of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Change the cursor in all browsers (opinionated).
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */
[disabled] {
  cursor: default; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; }

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

section, main {
  padding: 60px;
  clear: both; }
  section .section__title, main .section__title {
    padding: 0 0 60px 0; }
  @media screen and (max-width: 768px) {
    section, main {
      padding: 30px; }
      section .section__title, main .section__title {
        padding: 0 0 30px 0; } }

.general main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .general main:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .general main {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .general main:last-child {
        margin-right: 0; } }

.cta__organise .content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .cta__organise .content:last-child {
    margin-right: 0; }
  .cta__organise .content p {
    margin-top: 13px; }
.cta__organise .button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-right: 0;
  text-align: right; }
  .cta__organise .button:last-child {
    margin-right: 0; }
@media screen and (max-width: 768px) {
  .cta__organise .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-bottom: 20px; }
    .cta__organise .content:last-child {
      margin-right: 0; }
  .cta__organise .button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .cta__organise .button:last-child {
      margin-right: 0; }
    .cta__organise .button a {
      width: 100%; } }

.events article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background: #F3F4F5;
  padding: 0 0 10px 0;
  margin-bottom: 30px;
  border-radius: 3px; }
  .events article:last-child {
    margin-right: 0; }
  .events article:nth-child(4n) {
    margin-right: 0; }
  .events article:nth-child(4n+1) {
    clear: left; }
  .events article a {
    color: inherit;
    text-decoration: inherit; }
  .events article .event__photo {
    height: 280px;
    background-size: cover;
    text-align: right;
    padding: 10px; }
    .events article .event__photo .event__price {
      display: inline-block;
      background: rgba(255, 255, 255, 0.6);
      padding: 10px;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 700; }
  .events article h1, .events article section .section__title, section .events article .section__title, .events article main .section__title, main .events article .section__title, .events article footer .footer__logo, footer .events article .footer__logo {
    padding: 10px;
    font-size: 18px; }
  .events article p {
    font-size: 12px;
    margin: 0;
    padding: 0 10px 0; }
  @media screen and (max-width: 768px) {
    .events article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-bottom: 20px; }
      .events article:last-child {
        margin-right: 0; }
      .events article:nth-child(2n) {
        margin-right: 0; }
      .events article:nth-child(2n+1) {
        clear: left; }
      .events article .event__photo {
        height: 160px; } }

.steps .step {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: center; }
  .steps .step:last-child {
    margin-right: 0; }
  .steps .step:nth-child(3n) {
    margin-right: 0; }
  .steps .step:nth-child(3n+1) {
    clear: left; }
  .steps .step .step__count {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    background: #E94B51;
    text-align: center;
    border-radius: 50%; }
    .steps .step .step__count span {
      line-height: 60px;
      color: #FFFFFF;
      font-size: 28px; }
  .steps .step .step__content {
    padding: 30px 0 0 0; }
    .steps .step .step__content h3 {
      padding: 0 0 30px 0; }
  @media screen and (max-width: 768px) {
    .steps .step {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-bottom: 30px; }
      .steps .step:last-child {
        margin-right: 0; }
      .steps .step:nth-child(1) {
        margin-right: 0; } }

.newsletter {
  background: #E94B51;
  color: #FFFFFF;
  text-align: center; }
  .newsletter .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .newsletter .content:last-child {
      margin-right: 0; }
    .newsletter .content input[type=text] {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .newsletter .content input[type=text]:last-child {
        margin-right: 0; }
    .newsletter .content input[type=submit] {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      background: #0E1C29; }
      .newsletter .content input[type=submit]:last-child {
        margin-right: 0; }
  @media screen and (max-width: 768px) {
    .newsletter .content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .newsletter .content:last-child {
        margin-right: 0; }
      .newsletter .content input[type=text] {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-bottom: 20px; }
        .newsletter .content input[type=text]:last-child {
          margin-right: 0; }
      .newsletter .content input[type=submit] {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        background: #0E1C29; }
        .newsletter .content input[type=submit]:last-child {
          margin-right: 0; } }

.search input {
  text-align: center; }
.search #input_category {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .search #input_category:last-child {
    margin-right: 0; }
.search #input_place {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .search #input_place:last-child {
    margin-right: 0; }
.search #input_keywords {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .search #input_keywords:last-child {
    margin-right: 0; }
.search input[type=submit] {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .search input[type=submit]:last-child {
    margin-right: 0; }

.cta__more {
  clear: both;
  padding: 60px 0 0 0;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .cta__more {
      padding: 30px 0 0 0; } }

.md-fab md-icon.fa {
  font-size: 1.4rem; }

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #0E1C29; }

h1, section .section__title, main .section__title, footer .footer__logo, .h1,
h2,
.steps .step .step__content h3, .h2,
h3, .h3,
.font-alt {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  margin: 0; }

h1, section .section__title, main .section__title, footer .footer__logo, .h1 {
  font-size: 28px; }

h2, .steps .step .step__content h3, .h2 {
  font-size: 24px; }

h3, .h3 {
  font-size: 18px; }

ul {
  margin: 0; }

p {
  line-height: 1.8;
  margin: 0;
  padding: 0 0 30px 0; }
  p:last-child {
    padding: 0; }

strong {
  font-weight: 700; }

.view-container {
  height: 100vh;
  overflow: hidden; }

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

footer {
  padding: 60px;
  background: #0E1C29;
  color: #FFFFFF; }
  footer .footer__logo {
    color: #FFFFFF;
    float: left; }
    footer .footer__logo a {
      color: inherit;
      text-decoration: none; }
  footer .footer__menu {
    float: right;
    text-align: right;
    margin: 14px 0 0 0; }
    footer .footer__menu li {
      display: inline-block;
      color: #FFFFFF;
      margin: 0 0 0 30px;
      line-height: 28px; }
      footer .footer__menu li a {
        color: inherit;
        text-decoration: none; }
        footer .footer__menu li a:hover {
          border-bottom: 1px solid #FFFFFF; }

header {
  background: url("../assets/images/background.png") no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif; }
  header .header__logo,
  header .header__menu,
  header .header__account {
    padding: 60px 0 0 0; }
    @media screen and (max-width: 768px) {
      header .header__logo,
      header .header__menu,
      header .header__account {
        padding: 30px 0 0 0; } }
  header .header__logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    header .header__logo:last-child {
      margin-right: 0; }
    header .header__logo h1 a, header .header__logo section .section__title a, section header .header__logo .section__title a, header .header__logo main .section__title a, main header .header__logo .section__title a, header .header__logo footer .footer__logo a, footer header .header__logo .footer__logo a {
      color: #FFFFFF;
      text-decoration: none; }
    @media screen and (max-width: 768px) {
      header .header__logo {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        header .header__logo:last-child {
          margin-right: 0; }
        header .header__logo h1, header .header__logo section .section__title, section header .header__logo .section__title, header .header__logo main .section__title, main header .header__logo .section__title, header .header__logo footer .footer__logo, footer header .header__logo .footer__logo {
          text-align: center; } }
  header .header__menu {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    header .header__menu:last-child {
      margin-right: 0; }
    header .header__menu li {
      display: inline-block;
      margin: 7px 30px 0 0; }
      header .header__menu li a {
        color: #FFFFFF;
        text-decoration: none;
        line-height: 28px; }
        header .header__menu li a:hover {
          border-bottom: 1px solid #FFFFFF; }
      header .header__menu li.active a {
        border-bottom: 1px solid #FFFFFF; }
    @media screen and (max-width: 768px) {
      header .header__menu {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        header .header__menu:last-child {
          margin-right: 0; }
        header .header__menu ul {
          text-align: center; } }
  header .header__account {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
    text-align: right; }
    header .header__account:last-child {
      margin-right: 0; }
    header .header__account li {
      display: inline-block;
      margin: 7px 0 0 0; }
      header .header__account li a {
        color: #FFFFFF;
        text-decoration: none;
        line-height: 28px; }
        header .header__account li a:hover {
          border-bottom: 1px solid #FFFFFF; }
      header .header__account li.account_register {
        margin: 0 0 0 30px; }
        header .header__account li.account_register a {
          display: inline-block;
          border-radius: 3px;
          padding: 7px 15px;
          text-decoration: none;
          background: #E94B51;
          color: #FFFFFF; }
          header .header__account li.account_register a:hover {
            background: #e6343b;
            border-bottom: none; }
    header .header__account .account__image {
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-left: 10px; }
      header .header__account .account__image img {
        width: 30px;
        height: 30px;
        border-radius: 50%; }
    header .header__account .account__name {
      display: inline-block;
      line-height: 30px;
      padding-top: 6px; }
      header .header__account .account__name a {
        color: #FFFFFF;
        text-decoration: none; }
    @media screen and (max-width: 768px) {
      header .header__account {
        display: none; } }
  header .header__mobile {
    display: none; }
  header .header__content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin: 60px 0;
    text-align: center; }
    header .header__content:last-child {
      margin-right: 0; }
    header .header__content .header__intro {
      margin: 0 0 30px 0; }
    header .header__content .header__subtitle {
      color: rgba(255, 255, 255, 0.5); }

input {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  width: 100%;
  height: 60px;
  line-height: 1;
  border: none;
  border-radius: 3px; }

input[type=text],
input[type=password],
input[type=email] {
  background: rgba(255, 255, 255, 0.1);
  padding: 0 15px;
  color: #FFFFFF;
  line-height: 60px; }

.input__darken, .search input[type=text] {
  background: rgba(14, 28, 41, 0.1);
  color: #0E1C29; }

input[type=submit] {
  background: #E94B51;
  color: #FFFFFF;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif; }

.button__red, .button__red--big,
.button__black--big,
.button__white--big,
.button__social--big,
.button__black,
.button__white,
.button__social {
  display: inline-block;
  height: 60px;
  padding: 0 30px;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px; }
  .button__red--big,
  .button__black--big,
  .button__white--big,
  .button__social--big {
    padding: 0 60px; }

.button__red, .button__red--big,
.button__black--big,
.button__white--big,
.button__social--big {
  background: #E94B51;
  color: #FFFFFF; }
  .button__red:hover, .button__red--big:hover,
  .button__black--big:hover,
  .button__white--big:hover,
  .button__social--big:hover, .button__red:focus, .button__red--big:focus,
  .button__black--big:focus,
  .button__white--big:focus,
  .button__social--big:focus, .button__red:active, .button__red--big:active,
  .button__black--big:active,
  .button__white--big:active,
  .button__social--big:active {
    background: #e6343b; }

.button__black {
  background: #0E1C29;
  color: #FFFFFF; }
  .button__black:hover, .button__black:focus, .button__black:active {
    background: #14293c; }

.button__social {
  background: #0E1C29;
  color: #FFFFFF;
  margin: 0 30px 0 0; }
  .button__social i {
    padding: 0 10px 0 0; }
  .button__social:hover, .button__social:focus, .button__social:active {
    background: #14293c; }

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(14, 28, 41, 0.8); }
  .modal .modal__container {
    display: fixed;
    width: 100%;
    max-width: 700px;
    margin: 100px auto;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 3px; }
  .modal .modal__header h1, .modal .modal__header section .section__title, section .modal .modal__header .section__title, .modal .modal__header main .section__title, main .modal .modal__header .section__title, .modal .modal__header footer .footer__logo, footer .modal .modal__header .footer__logo {
    padding-bottom: 5px;
    border-bottom: 1px solid #F3F4F5;
    margin-bottom: 30px; }
    .modal .modal__header h1 span, .modal .modal__header section .section__title span, section .modal .modal__header .section__title span, .modal .modal__header main .section__title span, main .modal .modal__header .section__title span, .modal .modal__header footer .footer__logo span, footer .modal .modal__header .footer__logo span {
      float: right;
      font-size: 18px;
      line-height: 28px;
      padding-top: 7px;
      cursor: pointer; }
  .modal .modal__content .modal__input {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-bottom: 30px; }
    .modal .modal__content .modal__input:last-child {
      margin-right: 0; }
    .modal .modal__content .modal__input:nth-child(2n) {
      margin-right: 0; }
    .modal .modal__content .modal__input:nth-child(2n+1) {
      clear: left; }
    .modal .modal__content .modal__input input {
      background: rgba(14, 28, 41, 0.1); }
  .modal .modal__footer::after {
    clear: both;
    content: "";
    display: table; }
  .modal .modal__footer .modal__button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .modal .modal__footer .modal__button:last-child {
      margin-right: 0; }
    .modal .modal__footer .modal__button:nth-child(2n) {
      margin-right: 0; }
    .modal .modal__footer .modal__button:nth-child(2n+1) {
      clear: left; }
    .modal .modal__footer .modal__button a {
      width: 100%; }

.homepage header {
  height: 100vh; }
  .homepage header .header__content {
    margin: 30vh 0 0 0; }
    .homepage header .header__content .header__intro {
      font-size: 36px;
      margin: 0 0 30px 0; }
    .homepage header .header__content .header__search {
      padding-top: 30px; }
      .homepage header .header__content .header__search input[type=text] {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-left: 17.05961%; }
        .homepage header .header__content .header__search input[type=text]:last-child {
          margin-right: 0; }
      .homepage header .header__content .header__search input[type=submit] {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%; }
        .homepage header .header__content .header__search input[type=submit]:last-child {
          margin-right: 0; }
    @media screen and (max-width: 768px) {
      .homepage header .header__content {
        margin: 10vh 0 0 0; }
        .homepage header .header__content .header__intro {
          font-size: 28px;
          margin-bottom: 30px; }
        .homepage header .header__content .header__search input[type=text] {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-left: 17.05961%;
          margin-bottom: 20px; }
          .homepage header .header__content .header__search input[type=text]:last-child {
            margin-right: 0; }
        .homepage header .header__content .header__search input[type=submit] {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-left: 17.05961%; }
          .homepage header .header__content .header__search input[type=submit]:last-child {
            margin-right: 0; } }
.homepage .events {
  background: #F3F4F5; }
  .homepage .events article {
    background: #FFFFFF;
    margin-bottom: 0; }
    @media screen and (max-width: 768px) {
      .homepage .events article {
        margin-bottom: 20px; } }
  .homepage .events .cta__more {
    padding: 60px 0 0 0; }
    @media screen and (max-width: 768px) {
      .homepage .events .cta__more {
        padding: 30px 0 0 0; } }

#black {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  #black #buy, #black #thanks {
    width: 50%;
    margin: 80px 25%;
    background: #FFFFFF;
    overflow: auto;
    border-radius: 5px;
    z-index: 1000; }
    #black #buy .thanks__header,
    #black #buy .buy__header, #black #thanks .thanks__header,
    #black #thanks .buy__header {
      overflow: auto; }
    #black #buy .thanks__text p, #black #thanks .thanks__text p {
      padding: 20px; }
    #black #buy .thanks__text input, #black #thanks .thanks__text input {
      width: 80%;
      margin: 20px 10%; }
    #black #buy .buy__header h1, #black #buy .buy__header section .section__title, section #black #buy .buy__header .section__title, #black #buy .buy__header main .section__title, main #black #buy .buy__header .section__title, #black #buy .buy__header footer .footer__logo, footer #black #buy .buy__header .footer__logo,
    #black #buy .thanks__header h1,
    #black #buy .thanks__header section .section__title,
    section #black #buy .thanks__header .section__title,
    #black #buy .thanks__header main .section__title,
    main #black #buy .thanks__header .section__title,
    #black #buy .thanks__header footer .footer__logo,
    footer #black #buy .thanks__header .footer__logo, #black #thanks .buy__header h1, #black #thanks .buy__header section .section__title, section #black #thanks .buy__header .section__title, #black #thanks .buy__header main .section__title, main #black #thanks .buy__header .section__title, #black #thanks .buy__header footer .footer__logo, footer #black #thanks .buy__header .footer__logo,
    #black #thanks .thanks__header h1,
    #black #thanks .thanks__header section .section__title,
    section #black #thanks .thanks__header .section__title,
    #black #thanks .thanks__header main .section__title,
    main #black #thanks .thanks__header .section__title,
    #black #thanks .thanks__header footer .footer__logo,
    footer #black #thanks .thanks__header .footer__logo {
      float: left;
      padding: 20px 40px 20px 20px; }
    #black #buy .buy__header p,
    #black #buy .thanks__header p,
    #black #buy .buy__header h2,
    #black #buy .buy__header .steps .step .step__content h3,
    .steps .step .step__content #black #buy .buy__header h3,
    #black #buy .thanks__header h2,
    #black #buy .thanks__header .steps .step .step__content h3,
    .steps .step .step__content #black #buy .thanks__header h3, #black #thanks .buy__header p,
    #black #thanks .thanks__header p,
    #black #thanks .buy__header h2,
    #black #thanks .buy__header .steps .step .step__content h3,
    .steps .step .step__content #black #thanks .buy__header h3,
    #black #thanks .thanks__header h2,
    #black #thanks .thanks__header .steps .step .step__content h3,
    .steps .step .step__content #black #thanks .thanks__header h3 {
      float: right;
      padding: 25px 20px 20px; }
    #black #buy .buy__header h2, #black #buy .buy__header .steps .step .step__content h3, .steps .step .step__content #black #buy .buy__header h3,
    #black #buy .thanks__header h2,
    #black #buy .thanks__header .steps .step .step__content h3,
    .steps .step .step__content #black #buy .thanks__header h3, #black #thanks .buy__header h2, #black #thanks .buy__header .steps .step .step__content h3, .steps .step .step__content #black #thanks .buy__header h3,
    #black #thanks .thanks__header h2,
    #black #thanks .thanks__header .steps .step .step__content h3,
    .steps .step .step__content #black #thanks .thanks__header h3 {
      cursor: pointer; }
    #black #buy .buy__form input, #black #thanks .buy__form input {
      width: 46%;
      margin: 2%;
      float: left; }
    #black #buy .buy__form input[type=text],
    #black #buy .buy__form input[type=number], #black #thanks .buy__form input[type=text],
    #black #thanks .buy__form input[type=number] {
      background: #F3F4F5;
      color: #0E1C29; }
    #black #buy .buy__form input[type=number], #black #thanks .buy__form input[type=number] {
      padding-left: 10px; }
    @media screen and (max-width: 768px) {
      #black #buy, #black #thanks {
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0; }
        #black #buy .buy__header p,
        #black #buy .thanks__header p, #black #thanks .buy__header p,
        #black #thanks .thanks__header p {
          float: none;
          clear: both; }
        #black #buy .buy__form input, #black #thanks .buy__form input {
          width: 92%;
          margin: 10px 4%;
          float: none; } }

.events header .header__content .header__search input {
  text-align: center; }
.events header .header__content .header__search #input_category {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .events header .header__content .header__search #input_category:last-child {
    margin-right: 0; }
.events header .header__content .header__search #input_place {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .events header .header__content .header__search #input_place:last-child {
    margin-right: 0; }
.events header .header__content .header__search #input_keywords {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .events header .header__content .header__search #input_keywords:last-child {
    margin-right: 0; }
.events header .header__content .header__search input[type=submit] {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .events header .header__content .header__search input[type=submit]:last-child {
    margin-right: 0; }
.events .cta__more {
  padding: 30px 0 0 0; }

.event header .header__content .header__eventinfo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  text-align: center;
  width: 100%; }
  .event header .header__content .header__eventinfo:last-child {
    margin-right: 0; }
  .event header .header__content .header__eventinfo h1, .event header .header__content .header__eventinfo section .section__title, section .event header .header__content .header__eventinfo .section__title, .event header .header__content .header__eventinfo main .section__title, main .event header .header__content .header__eventinfo .section__title, .event header .header__content .header__eventinfo footer .footer__logo, footer .event header .header__content .header__eventinfo .footer__logo {
    margin: 0 0 30px 0; }
  .event header .header__content .header__eventinfo p {
    color: rgba(255, 255, 255, 0.5); }
    .event header .header__content .header__eventinfo p span {
      margin: 0 30px 0 0; }
.event header .header__content .header__eventsignup {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: right; }
  .event header .header__content .header__eventsignup:last-child {
    margin-right: 0; }
.event article .event__main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .event article .event__main:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .event article .event__main {
      clear: both;
      width: 100%;
      margin-bottom: 20px; } }
.event article .event__sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  background: #F3F4F5;
  padding: 30px;
  border-radius: 3px; }
  .event article .event__sidebar:last-child {
    margin-right: 0; }
  .event article .event__sidebar p {
    margin: 0 0 30px 0; }
  .event article .event__sidebar .event__map iframe {
    max-width: 100%; }
  @media screen and (max-width: 768px) {
    .event article .event__sidebar {
      clear: both;
      width: 100%; } }
.event .search {
  background: #F3F4F5; }

/*# sourceMappingURL=main.css.map */
