input {
    font-family: $t_family_base;
    width: 100%;
    height: $d_input_height;
    line-height: 1;
    border: none;
    border-radius: $d_radius_base;
    outline: none;

    &:focus {
        outline: none;
    }
}

input[type=text],
input[type=password],
input[type=email] {
    background: rgba($c_white, .1);
    padding: 0 $d_margin_small/2;
    color: $c_white;
    line-height: $d_input_height;
}

input[type=password] {
    background: rgba($c_grey, 1);
    color: #0E1C29;
}

.input__darken {
    background: rgba($c_black, .1);
    color: $c_black;
}

input[type=submit] {
    background: $c_red;
    color: $c_white;
    font-family: $t_family_alt;
}
